/* Общие стили для сайта */
body {
  font-family: "Roboto", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bold;
}

/* Стили для заголовка */
h1 {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
}

/* Стили для навигационного меню */
nav {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  padding: 15px 20px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

nav ul li a:hover {
  background-color: #4285F4; /* Светло-синий цвет при наведении */
  color: #fff; /* Цвет текста при наведении */
}

/* Стили для контейнера */
.container {
  max-width: 900px;
  margin: 3% auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Стили для кнопок */
input[type="submit"] {
  padding: 10px 20px;
  border: none;
  background-color: #4285F4;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

input[type="submit"]:hover {
  background-color: #3367D6;
}

/* Стили для кнопок "Предыдущий день" и "Следующий день" */
.date_but a {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 10px;
  background-color: #4285F4;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.date_but a:hover {
  background-color: #3367D6;
}

/* Стили для блока с расписанием */
.calendar {
  margin-top: 20px;
}

/* Стили для записей в расписании */
.appointment {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.appointment p {
  margin: 0;
  font-size: 16px;
}

.appointment a {
  color: #4285F4;
  text-decoration: none;
}

.appointment a:hover {
  text-decoration: underline;
}

/* Стили для строк с записью на прием */
.appointment.has-appointment {
  background-color: #CCFFCC; /* Цвет фона для строк с записью */
  border: 1px solid #66FF66; /* Обводка для строк с записью */
}

.available{
  display: block;
  padding: 10px;
  background-color: #d4f1e1;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

li.unavailable {
  display: block;
  padding: 10px;
  background-color: #f1c9c9;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  text-decoration: line-through; /* Добавляем перечеркивание текста */
}

/* Стили для подвала */
footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

/* Стили для таблицы */
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

/* Стили для сообщения, когда нет доступных пациентов */
.no-patients {
  color: #999;
  font-style: italic;
}

/* Стили для информации о пользователе в навигационном меню */
.user-info {
  position: absolute;
  top: 10px;
  right: 20px;
  text-align: right;
}

.user-info span {
  font-weight: bold;
  color: #333;
}

.user-info a {
  margin-left: 10px;
  color: #4285F4;
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.2s ease;
}

.user-info a:hover {
  opacity: 0.8;
}

/* Стили для списка пациентов */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 10px;
}
ul li a {
  display: block;
  padding: 10px;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}


ul li a:hover {
  background-color: #ddd;
}

/* Стили для контейнера формы входа */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Стили для заголовка формы */
.login-container h2 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Стили для сообщения об ошибке */
.error-message {
  color: #ff3333;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Стили для формы входа */
.login-form {
  display: flex;
  flex-direction: column;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form label {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}

.login-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.login-form button {
  padding: 10px 15px;
  background-color: #4285F4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #3367d6;
}

/* Основные стили для страницы карточки пациента */
.patient-card {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Стили для заголовка */
.patient-name {
  color: #333;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Стили для секции */
.section {
  margin-bottom: 30px;
}

/* Стили для заголовка секции */
.section-title {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Стили для деталей пациента */
.patient-details li {
  list-style: none;
  margin-bottom: 5px;
}

/* Стили для информации о медицинской истории пациента */
.patient-medical-history {
  margin-bottom: 10px;
}

/* Стили для списка посещений */
.patient-visits li {
  list-style: none;
  margin-bottom: 5px;
}

/* Стили для списка вакцинаций */
.patient-vaccinations li {
  list-style: none;
  margin-bottom: 5px;
}

/* Стили для контейнера с кнопками */
.buttons-container {
  margin-top: 10px;
  overflow: hidden; /* Чтобы контейнер обвёртывал свои дочерние элементы */
}

/* Стили для ссылки "Редактировать" */
.edit-patient {
  float: left; /* Выравниваем в левый угол */
  padding: 10px 15px;
  background-color: #4285F4;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}

/* Стили для кнопки "Удалить" */
.delete-patient input[type="submit"] {
  float: right; /* Выравниваем в правый угол */
  padding: 10px 15px;
  background-color: #DC3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

/* Стили для страницы добавления пациента */
.patient-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-section label {
  flex-basis: 150px;
  font-weight: bold;
  margin-right: 10px;
}

.form-section input[type="text"],
.form-section select,
.form-section textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-section textarea {
  resize: vertical;
  height: 150px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-save {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-save:hover {
  background-color: #45a049;
}

/* Стили для страницы добавления и редактирования пациента */
.patient-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-section label {
  flex-basis: 150px;
  font-weight: bold;
  margin-right: 10px;
}

.form-section input[type="text"],
.form-section select,
.form-section textarea {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-section textarea {
  resize: vertical;
  height: 150px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-save {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-save:hover {
  background-color: #45a049;
}

